# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/food-delivery
MONGODB_URI_PROD=mongodb+srv://username:password@cluster.mongodb.net/food-delivery

# Environment
NODE_ENV=development
